*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #90C7E3;
    color: #666666;
    font-family: Verdana, Arial, sans-serif;
   /* background-image: linear-gradient(#FFFFFF,#90C7E3); */
}
header{
    background-color: #002171;
    color:#FFFFFF;
    font-family: georgia, serif;
    padding: 1em;
    
   /* background-image: url(sunset.jpg);
    background-repeat: no-repeat;
    height: 120px;
   background-position: right; */
    
    
}
header a:link{
    text-decoration: none;
    color: #FFFFFF;
}
header a:visited{
    text-decoration: none;
     color: #FFFFFF;
}
header a:hover{
    text-decoration: none;
    color: #90C7E3;
}
h1{
    text-align: center;
    font-size: 1.5em;
    
    /*    padding-top: .5em;
    letter-spacing: .25em;*/
}
nav{
    font-size: 1.2em;
    text-align: center;
    background-color: white;
    
  /*  float: left;
    width: 160px;
    padding: 0;
    font-weight: bold;
    position: fixed;
    padding-top: .5em;
    padding-right: .5em;
    padding-bottom: .5em;*/
    
}
nav a:link { color: #5C7FA3;
  
}
nav a:visited { color: #344873;
    
}
nav a:hover { color: #A52A2A;
    
}
nav a { text-decoration: none;

}
nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
nav ul li{
    padding: .5em 1em;
    width: 100%;
    border-bottom: 1px solid;
}
h2{
    color: #1976D2;
    font-family: georgia, serif;
}
h3{
    font-family: georgia, serif;
}
dt{
    color: #002171;
    font-weight: bold;
}
main{
    
   /* background-color: #FFFFFF;
    margin-left: 170px;
    overflow: auto;
    padding-left: 2em;
    padding-right: 2em;*/
    
    display: block; 
    padding: 0em 1em;
}
.resort{
    color: #1976D2;
    font-size: 1.2em;
}
footer{
    font-size: o.70em;
    font-style: italic;
    padding: 1em;
    background-color: #FFFFFF;
    text-align: center;
    /* margin-left: 170px;*/
}
#wrapper {
    background-color: #FFFFFF;
    
    
   /* min-width: 960px;max-width: 2048px; 
    box-shadow: 2px 2px black;
    width: 80%; margin-left: auto; margin-right: auto;
    background-image: linear-gradient(#FFFFFF,#90C7E3); */
    
}

#homehero{
    height: 300px;
    background-image: url(coast.jpg);
    background-size: 200% 100%;
    background-repeat: no-repeat; 
   /* margin-left: 170px;*/
}
#yurthero{
    height: 300px;
    background-image: url(yurt.jpg);
    background-size: 200% 100%;
    background-repeat: no-repeat;
   /* margin-left: 170px;*/
}
#trailhero{
    height: 300px;
    background-image: url(trail.jpg);
    background-size: 200% 100%;
    background-repeat: no-repeat;
   /* margin-left: 170px;*/
}

section{
   /* float: left;
    width: 33%; */
    
    padding-left: .5em;
    padding-right: .5em;
}

#mobile {
    display: inline;
}

#desktop {
    display: none;
}

table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #3399CC;
    width: 90%;
    border-collapse: collapse;  
}

table, th, td {
    
    padding:5px;
    border: 1px solid #3399CC;
    
  }
td
{
    text-align: center;
}

.text{
    text-align: left;
}

tr:nth-child(even) {
    background-color: #DFEDF8;
}
form { display: flex;
    flex-direction: column;
    padding-left: 1em;
    width: 80%; 
}

input, textarea {
    margin-bottom: .5em;
}

#reshero {
    height: 300px;
    background-image: url(ocean.jpg);
    background-repeat: no-repeat;
    background-size: 200% 100%;
}





@media all and (min-width:600px){
    h1{
        font-size: 2em;
        letter-spacing: .25em;
    }
    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-right: 2em;
    }
    nav ul li{
        width: 12em;
        border-bottom: none;
    }
    section{
        padding-left: 2em;
        padding-right: 2em;
    }
    #flow{
        display: flex;
        flex-direction: row;
    }
    #mobile{
        display: none;
    }
    #desktop{
        display: inline;
    }
    #homehero, #yurthero, #trailhero{
        background-size: 100% 100%;
    }
    form{
    width: 60%;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 10em 1fr;
    
    }
    input[type=button]{
    
    grid-column: 2;
    width: 9em;
    }


    #reshero{
    background-size: 100% 100%;
    }

}









@media all and (min-width:1024px){
    body{
      background-image:  linear-gradient(to bottom, #FFFFFF 20%, #90C7E3 60%, #FFFFFF 100%);
    }
    nav ul{
        padding-left: 10%;
        padding-right: 10%;
    }
    #wrapper{
        margin: auto;
        width: 80%;
    }
}

/*
@media all and (max-width:800px ){
    body{
        margin: 0;
        background-color: #90C7E3;
    }
    #wrapper {
        background-color: #FFFFFF;
    }
    header{
        padding: 1em;
        height: none;
    }
    h1{
        font-size: 1.5em;
        padding-top: 0;
        letter-spacing: 0;
    }
    nav{
        float: none;
        position: relative;
        width: 0%;
        font-weight: normal;
        padding: 0;
        text-align: center;
        background-color: white;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    nav ul li{
        padding: .5em 1em;
        width: 100%;
        border-bottom: 1px solid;
    }
    main{
        padding: 0em 1em;
        background-color: none;
        
    }
}  */

